@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Stick+No+Bills:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: rgb(27, 10, 53);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Stick No Bills', sans-serif;
    color: aliceblue;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color:rgb(55, 7, 107);
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 42px;
    border-radius: 100%;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 42vw;
    background-color: rgb(30, 0, 58);
    color: aliceblue;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 15px auto;
    width: 90%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('banner/14.jpg');
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: rgb(12, 4, 21);
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 20px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songListHead{
    font-size: larger;
    margin-left: 25%;
    background-color: #21024a;
    padding-left: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 34px;
}

.songItemContainer{
    margin-top: 70px;
    margin-left: 15px;
}

.songItem{
    height: 70px;
    display: flex;
    background-color: rgb(206, 211, 235);
    color: black;
    margin: 12px 0;
    width: 130%;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    font-size: larger;
}

.songItem img{
    width: 60px;
    margin: 0 8px 0;;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
    margin-right: 15;
}

.timestamp i{
    cursor: pointer;
    margin-left: 10px;
}
.songInfo{
    position: absolute;
    left: 7.2vw;
    font-family: 'Varela Round', sans-serif;
    font-size: x-large;
}
.songInfo img{
    opacity: 0; 
    transition: opacity 0.2s ease-in;
}
